@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke {
  -webkit-text-stroke: 0.8px #A8DADC;
}
.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
    font-family: 'inter-r';
    src: url('fonts/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'krona-r';
    src: url('fonts/KronaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  